<% include ../partials/header %>
    
    <div class="container">
        <h1 class="m-4 text-center">Create New Comment to <%= campground.name %></h1>

        <!--form for creating new comment-->
        <div class="row flex-column">
            <form class="w-50 mx-auto" method="post" action="/campgrounds/<%= campground._id %>/comments">
                <input class="form-control m-2" type="text" name="comment[author]" placeholder="<%= user.username %>" readonly="readonly">
                <input class="form-control m-2" type="text" name="comment[text]" placeholder="comment">
                
                <div class="form-group">
                    <label for="rating">Leave a rating:</label>
                    <fieldset class="starability-basic form-group" id="rating">
                    <div>
                    <input type="radio" id="first-rate5" name="comment[rating]" value="5" checked />
                    <label for="first-rate5" title="5 stars - Amazing">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(5) %>
                    </label>
                    </div>
                    <div>
                    <input type="radio" id="first-rate4" name="comment[rating]" value="4" />
                    <label for="first-rate4" title="4 stars - Very good">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(4) %>
                    </label>
                    </div>
                    <div>
                    <input type="radio" id="first-rate3" name="comment[rating]" value="3" />
                    <label for="first-rate3" title="3 stars - Average">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(3) %>
                    </label>
                    </div>
                    <div>
                    <input type="radio" id="first-rate2" name="comment[rating]" value="2" />
                    <label for="first-rate2" title="2 stars - Not good">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(2) %>
                    </label>
                    </div>
                    <div>
                    <input type="radio" id="first-rate1" name="comment[rating]" value="1" />
                    <label for="first-rate1" title="1 star - Terrible">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(1) %>
                    </label>
                </div>
                        
                    </fieldset>
                </div>
                
                
                <input class="btn btn-primary m-2 w-40" type="submit">
            </form>
            <br>
            <div class="mx-auto">
                <a href="/campgrounds/<%= campground._id %>">Go back</a>
            </div>
        </div>
        
    </div>
    
<% include ../partials/footer %>    