<% include ../partials/header %>
    <div class="container mt-3">
        <header class="jumbotron py-4">
            <p><strong>Disclaimer:</strong> this is a demo application. All information on campgrounds is fictional.</p>
            <h1 class="my-2 display-3"><i class="fas fa-campground"></i> Welcome to YelpCamp! </h1>
            <p class="mb-4 mt-4 lead">YelpCamp is a campsite-sharing web application. Over here, you will find campsites recommended by other users and the details
            you need to start planning for your camping trip. Sign up now to upload campsites, or leave reviews to campsites you have been to. Join our community
            of campers now!</p>
            
            <h5 class="display-5">What you can do:</h5>
                <form action="/campgrounds" method="GET" class="form-inline ml-1 d-inline">
                    <input name="search" class="form-control" type="text" placeholder="Search Campgrounds" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form>
                <a class="d-inline ml-5 btn btn-info m-3" href="/campgrounds/new">Create New Campground</a>
        </header>
        
        <% if (match) { %>
        <p class="lead text-center"><%= match %></p>
        <% } %>
        
        <div class="row">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <h4><%= campground["name"] %> </h4>
                    <img class="img-fluid" src="<%= campground["img"] %>" alt="Card image cap">
                    <p class="m-1"><em>Uploaded: <%= campground.created.toDateString() %></em></p>
                    <hr>
                    <p class="lead"> 
                    Uploaded by: <%= campground.author.username %> <span class="float-right"><i class="far fa-user"></i></span>
                    <br>
                    Location: <%= campground["location"] %> <span class="float-right"><i class="fas fa-map-marker-alt"></i></span>
                    <br>
                    Price: <%= campground.price %>/night <span class="float-right"><i class="fas fa-dollar-sign"></i></span>
                    <br>
                    Rating: 
                    <% if (campground.rating >= 1) { %>
                    <%= campground.rating %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                    <% } else { %>
                    No reviews yet.
                    <% } %>
                    (<%= campground.comments.length %>)
                    <span class="float-right"><i class="far fa-thumbs-up"></i></span>
                    </p>
                    <a class="btn btn-info" href="/campgrounds/<%= campground["_id"] %>">See More</a>
                    <hr>
                </div>
            <% }) %>
        </div>
        
    </div>
    
                        

<% include ../partials/footer %>